@charset "UTF-8";
/* COLOR VARIABLES */
/* FONT VARIABLES */
/*RESPONSIVE BREAKPOINTS*/
/*$bp-largest: 75em; 1200px*/
/*1100px*/
/*800px*/
/*500px*/
/*400px*/
@keyframes moveInBottom {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(-10rem); }
  80% {
    opacity: 0.5;
    transform: translateY(2rem); }
  90% {
    opacity: 0.8; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes hiddenMove {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rotateMove {
  0% {
    transform: rotate(-12deg); }
  50% {
    transform: rotate(12deg); }
  100% {
    transform: rotate(-12deg); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.35);
    color: #C9997F; }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.reveal {
  opacity: 0;
  transform: translateY(-3rem); }

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 2s cubic-bezier(0.5, 0, 0, 1);
  transition-duration: 1s;
  backface-visibility: hidden; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /*@media only screen and (max-width: $bp-large) {
		font-size:50%;
	}*/ }

body {
  font-family: "Quicksand", sans-sérif;
  color: #ccb7ae;
  background-color: #303a2d; }

.heading-3, .heading-4, .heading-5 {
  font-family: "Quicksand", sans-sérif;
  font-weight: 400;
  color: #C9997F; }

.heading-1, .heading-2 {
  font-family: "Montserrat", sans-serif; }

.heading-1 {
  color: #ccb7ae;
  font-size: 8vw;
  font-weight: 100; }
  @media only screen and (max-width: 68.75em) {
    .heading-1 {
      font-size: 10vw; } }
  @media only screen and (max-width: 50em) {
    .heading-1 {
      font-size: 11vw; } }

.heading-2 {
  color: #C9997F;
  font-size: 3rem;
  font-weight: 200; }
  @media only screen and (max-width: 50em) {
    .heading-2 {
      font-size: 2.4rem; } }

.heading-3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: .8rem; }

.heading-4 {
  font-size: 2rem;
  text-transform: capitalize; }

.heading-5 {
  font-size: 1.9rem;
  letter-spacing: .8rem;
  color: #ccb7ae; }

.paragraph {
  font-size: 1.6rem;
  text-align: justify; }

.list {
  font-size: 1.6rem;
  color: currentColor; }

.btn {
  font-family: "Quicksand", sans-sérif;
  font-size: 1.6rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
  background-color: #303a2d;
  color: #ccb7ae;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  animation: pulsate 1s infinite;
  transition: all .3s ease-in; }
  .btn:hover {
    color: #AB5573;
    background-image: linear-gradient(to left top, #303a2d, #1a2621); }
  @media only screen and (max-width: 31.25em) {
    .btn {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 25em) {
    .btn {
      font-size: 1.2rem; } }

/*.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }*/
.footer {
  grid-column: full-start/full-end;
  background-image: linear-gradient(to left bottom, #AB5573, #303a2d), url(../img/bg1.jpg);
  background-blend-mode: difference;
  /* darken;*/
  background-size: 150%;
  background-attachment: fixed;
  background-position: top;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 13rem;
  padding: 6rem;
  align-content: center;
  justify-items: center; }
  @media only screen and (max-width: 68.75em) {
    .footer {
      grid-template-rows: repeat(3, min-content);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 6rem; } }
  .footer__logo {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 6.5rem;
    height: 6.5rem;
    transform: rotate(-90deg);
    fill: currentColor; }
    @media only screen and (max-width: 68.75em) {
      .footer__logo {
        width: 5rem;
        height: 5rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer__logo {
        width: 4rem;
        height: 4rem; } }
  .footer__link {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-decoration: none;
    color: #AB5573;
    justify-self: start; }
    @media only screen and (max-width: 68.75em) {
      .footer__link {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: center; } }
    .footer__link--item {
      width: 4rem;
      height: 4rem;
      transition: all .2s;
      margin: 0;
      fill: #AB5573; }
      .footer__link--item:hover {
        transform: scale(1.2);
        fill: #ccb7ae; }
      @media only screen and (max-width: 25em) {
        .footer__link--item {
          width: 3rem;
          height: 3rem; } }
  .footer__text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: end; }
    @media only screen and (max-width: 68.75em) {
      .footer__text {
        grid-row: 3/ 4;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end; } }
    @media only screen and (max-width: 25em) {
      .footer__text {
        font-size: 1.4rem;
        text-align: center; } }

.header {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(../img/bg1.jpg);
  background-size: cover;
  height: 100vh;
  padding: 3rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: 1fr 2fr max-content;
  grid-template-rows: 1fr 2fr 1fr;
  backface-visibility: hidden; }
  @media only screen and (max-width: 31.25em) {
    .header {
      grid-template-columns: 1fr;
      /*grid-template-rows: 1fr 2fr;*/
      grid-template-rows: 1fr 1fr 1fr; } }
  .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;
    fill: #303a2d;
    width: 3.3rem;
    height: 3.3rem;
    transform: translateX(1rem) rotate(-90deg);
    animation: hiddenMove 2.2s ease-in; }
    @media only screen and (max-width: 31.25em) {
      .header__logo {
        grid-row: 1/2;
        justify-self: start;
        align-self: start; } }
  .header__name {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    animation: hiddenMove 2.2s ease-in; }
    @media only screen and (max-width: 31.25em) {
      .header__name {
        grid-row: 3/4;
        grid-column: 1 / -1;
        align-self: center;
        justify-self: start; } }
  .header__title {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
    .header__title--main {
      display: block;
      animation: moveInBottom 2.3s ease-out; }
    .header__title--sub {
      display: block;
      animation: moveInBottom 3s ease-out; }
    @media only screen and (max-width: 50em) {
      .header__title {
        grid-column: 1 / 3; } }
    @media only screen and (max-width: 31.25em) {
      .header__title {
        align-self: start;
        grid-row: 2/3; } }

.container {
  display: grid;
  /*grid-template-rows: 100vh min-content 40vw repeat(3, min-content) ;*/
  grid-template-columns: [full-start] 1fr [center-start] 5fr [center-end] 1fr [full-end]; }

.section-presentation {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  align-items: center;
  position: relative;
  margin: 4rem 0; }
  @media only screen and (max-width: 68.75em) {
    .section-presentation {
      grid-template-columns: auto-fit;
      grid-template-rows: 1fr 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .section-presentation {
      grid-template-rows: 1fr 0.5fr; } }
  .section-presentation__text {
    margin: 6rem;
    padding: 5rem;
    z-index: 10;
    border-radius: .3rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    .section-presentation__text--h2 {
      padding-bottom: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .section-presentation__text {
        grid-row: 1/2; } }
    @media only screen and (max-width: 50em) {
      .section-presentation__text {
        margin: 4.5rem;
        padding: 4rem; } }
    @media only screen and (max-width: 31.25em) {
      .section-presentation__text {
        margin: 3rem;
        padding: 3rem; } }
    @media only screen and (max-width: 25em) {
      .section-presentation__text {
        margin: 0.7rem;
        padding: 2rem; } }
  .section-presentation__logo {
    justify-items: center;
    align-items: center;
    fill: #1a2621;
    opacity: .6;
    width: 20rem;
    height: 20rem;
    animation: rotateMove 2s infinite; }
    @media only screen and (max-width: 68.75em) {
      .section-presentation__logo {
        grid-row: 2/3; } }
    @media only screen and (max-width: 50em) {
      .section-presentation__logo {
        width: 15rem;
        height: 15rem; } }
    @media only screen and (max-width: 31.25em) {
      .section-presentation__logo {
        width: 12rem;
        height: 12rem; } }
    @media only screen and (max-width: 25em) {
      .section-presentation__logo {
        width: 10rem;
        height: 10rem; } }
  .section-presentation::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: 2.5rem;
    line-height: 1;
    font-size: 40rem;
    color: #1a2621;
    opacity: .4;
    font-family: sans-serif;
    z-index: 1; }

.section-skills {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 7rem;
  justify-items: center;
  padding: 0 5rem;
  /* STYLE RESPONSIVE WEB DESIGN */ }
  @media only screen and (max-width: 68.75em) {
    .section-skills {
      grid-template-rows: repeat(5, min-content);
      grid-template-columns: 0.3fr 1fr 0.3fr;
      grid-row-gap: 7rem;
      grid-column-gap: 5rem; } }
  @media only screen and (max-width: 50em) {
    .section-skills {
      grid-template-columns: 1fr;
      padding: 0 3rem;
      grid-column-gap: 3rem; } }
  @media only screen and (max-width: 31.25em) {
    .section-skills {
      padding: 0 2rem;
      grid-column-gap: 2rem; } }
  @media only screen and (max-width: 25em) {
    .section-skills {
      padding: 0 1rem;
      grid-column-gap: 1rem; } }
  .section-skills__heading {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 9rem; }
    @media only screen and (max-width: 68.75em) {
      .section-skills__heading {
        padding: 0; } }
  .section-skills__box {
    grid-row: 2 / 3;
    background-image: linear-gradient(to bottom, rgba(26, 38, 33, 0.9), rgba(171, 85, 115, 0.5)), url(../img/bg1.jpg);
    background-size: 700%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-gap: 3rem;
    justify-items: center; }
    @media only screen and (max-width: 68.75em) {
      .section-skills__box--1 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; } }
    .section-skills__box--2 {
      background-position: top; }
      @media only screen and (max-width: 68.75em) {
        .section-skills__box--2 {
          grid-row: 3 / 4;
          grid-column: 2 / 3; } }
    .section-skills__box--3 {
      background-position: 20% 50%; }
      @media only screen and (max-width: 68.75em) {
        .section-skills__box--3 {
          grid-row: 4 / 5;
          grid-column: 2 / 3; } }
    .section-skills__box--picture {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../img/bg1.jpg);
      background-size: cover;
      width: 100%;
      display: grid;
      justify-content: center;
      align-content: center; }
      .section-skills__box--picture-top {
        height: 8rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem; }
      .section-skills__box--picture-bottom {
        height: 12rem;
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;
        align-self: end; }
  .section-skills__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #C9997F; }
  .section-skills__text {
    padding: 0 1.5rem; }
  .section-skills__sub {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    text-align: center;
    margin: 7rem 0; }
    @media only screen and (max-width: 68.75em) {
      .section-skills__sub {
        grid-row: 5 / 6; } }
    .section-skills__sub h5 {
      padding-bottom: 4rem; }
    .section-skills__sub--icon {
      fill: #1a2621; }
      .section-skills__sub--icon-1 {
        width: 5rem;
        height: 5rem; }
        @media only screen and (max-width: 50em) {
          .section-skills__sub--icon-1 {
            width: 4rem;
            height: 4rem; } }
        @media only screen and (max-width: 31.25em) {
          .section-skills__sub--icon-1 {
            width: 2.7rem;
            height: 2.7rem; } }
        @media only screen and (max-width: 25em) {
          .section-skills__sub--icon-1 {
            width: 4rem;
            height: 4rem; } }
      .section-skills__sub--icon-2 {
        width: 12rem;
        height: 12rem;
        transform: rotate(90deg) translateX(1.8rem); }
        @media only screen and (max-width: 50em) {
          .section-skills__sub--icon-2 {
            width: 10rem;
            height: 10rem; } }
        @media only screen and (max-width: 31.25em) {
          .section-skills__sub--icon-2 {
            width: 8rem;
            height: 8rem; } }
        @media only screen and (max-width: 25em) {
          .section-skills__sub--icon-2 {
            display: none; } }
      .section-skills__sub--icon-3 {
        width: 15rem;
        height: 15rem; }
        @media only screen and (max-width: 50em) {
          .section-skills__sub--icon-3 {
            width: 12rem;
            height: 12rem; } }
        @media only screen and (max-width: 31.25em) {
          .section-skills__sub--icon-3 {
            width: 10rem;
            height: 10rem; } }
      .section-skills__sub--icon-4 {
        width: 10rem;
        height: 10rem; }
        @media only screen and (max-width: 50em) {
          .section-skills__sub--icon-4 {
            width: 8rem;
            height: 8rem; } }
        @media only screen and (max-width: 31.25em) {
          .section-skills__sub--icon-4 {
            width: 6rem;
            height: 6rem; } }
      .section-skills__sub--icon-5 {
        width: 7rem;
        height: 7rem; }
        @media only screen and (max-width: 50em) {
          .section-skills__sub--icon-5 {
            width: 6rem;
            height: 6rem; } }
        @media only screen and (max-width: 31.25em) {
          .section-skills__sub--icon-5 {
            width: 5rem;
            height: 5rem; } }
        @media only screen and (max-width: 25em) {
          .section-skills__sub--icon-5 {
            display: none; } }

.section-projects {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-template-rows: repeat(3, min-content);
  grid-gap: 5rem;
  padding-bottom: 5rem;
  align-items: start;
  justify-items: center; }
  .section-projects__heading {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 5rem; }
  .section-projects__card {
    background-color: #303a2d;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22rem max-content min-content min-content;
    grid-row-gap: 1rem;
    min-height: 40rem;
    min-width: 17rem; }
    .section-projects__card-picture {
      background-size: cover;
      height: 30rem;
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 70%, 1% 50%);
      clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 70%, 1% 50%);
      border-top-left-radius: .4rem;
      border-top-right-radius: .4rem;
      transition: all .4s ease;
      backface-visibility: hidden;
      background-blend-mode: soft-light; }
      .section-projects__card-picture--1 {
        background-image: linear-gradient(to bottom, #303a2d, #1a2621), url(../img/project1.jpg);
        background-position: center; }
      .section-projects__card-picture--2 {
        background-image: linear-gradient(to right bottom, #303a2d, #1a2621), url(../img/project2.jpg);
        background-size: cover;
        background-position: 10% 35%; }
      .section-projects__card-picture--3 {
        background-image: linear-gradient(to bottom, #303a2d, #1a2621), url(../img/project3.jpg);
        background-position: 20% 25%; }
      .section-projects__card-picture--4 {
        background-image: linear-gradient(to bottom, #303a2d, #1a2621), url(../img/project4.jpg);
        background-position: top; }
      .section-projects__card-picture--5 {
        background-image: linear-gradient(to right bottom, #303a2d, #1a2621), url(../img/project5.jpg);
        background-position: top; }
      .section-projects__card-picture--6 {
        background-image: linear-gradient(to bottom, #303a2d, #1a2621), url(../img/project6.jpg);
        background-position: right; }
    .section-projects__card-title {
      justify-self: center;
      backface-visibility: hidden;
      transition: all .5s ease; }
    .section-projects__card-ul {
      justify-self: center;
      align-self: end;
      font-size: 1.2rem;
      transition: all 1s ease;
      cursor: pointer; }
    .section-projects__card-text {
      padding: 2rem;
      align-self: end; }
    .section-projects__card:hover .section-projects__card-picture {
      filter: blur(0.3rem) brightness(20%);
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 90%, 0 70%);
      clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 90%, 0 70%); }
    .section-projects__card:hover .section-projects__card-title {
      color: #7f4c5e;
      transform: translateY(-18rem) scale(1.2);
      letter-spacing: .5rem; }
    .section-projects__card:hover .section-projects__card-ul {
      color: #AB5573;
      list-style: none;
      text-transform: uppercase;
      transform: translateY(-14rem) scale(1.4); }

.section-bridge {
  grid-column: full-start / full-end;
  min-height: 40vh;
  background-image: linear-gradient(to right bottom, #AB5573, #303a2d), url(../img/bg1.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  justify-items: center;
  align-items: center; }
  .section-bridge__picture img {
    width: 12rem; }

.section-cta {
  grid-column: center-start/center-end;
  height: 40vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .section-cta {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      height: 55vh; } }
  .section-cta__heading {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }
    @media only screen and (max-width: 50em) {
      .section-cta__heading {
        font-size: 2.2rem; } }
    @media only screen and (max-width: 31.25em) {
      .section-cta__heading {
        font-size: 1.9rem; } }
    @media only screen and (max-width: 25em) {
      .section-cta__heading {
        font-size: 1.8rem; } }
  .section-cta__btn {
    grid-row: 2 / 3; }
    @media only screen and (max-width: 50em) {
      .section-cta__btn {
        grid-column: 1 / -1; } }
    .section-cta__btn-1 {
      grid-column: 1 / 2; }
      @media only screen and (max-width: 50em) {
        .section-cta__btn-1 {
          grid-row: 2/3; } }
    .section-cta__btn-2 {
      grid-column: 2 / 3; }
      @media only screen and (max-width: 50em) {
        .section-cta__btn-2 {
          grid-row: 3/4; } }
