/* COLOR VARIABLES */
$color-primary: #C9997F;
$color-primary-light: #ccb7ae;

$color-light: #e7e8ea;
$color-dark: #070a0d;

$color-secondary:#303a2d;
$color-secondary-dark: #1a2621;

$color-tertiary:#AB5573;
$color-tertiary-dark: #7f4c5e;

$color-black: black;


/* FONT VARIABLES */
$font-primary:'Montserrat', sans-serif;
$font-display: 'Quicksand', sans-sérif;

/*RESPONSIVE BREAKPOINTS*/
/*$bp-largest: 75em; 1200px*/
$bp-large: 68.75em; /*1100px*/
$bp-medium: 50em; /*800px*/
$bp-small: 31.25em; /*500px*/
$bp-smallest: 25em; /*400px*/

