.footer {
	grid-column: full-start/full-end;
    
    background-image: linear-gradient(to left bottom,$color-tertiary, $color-secondary), url(../img/bg1.jpg);
	background-blend-mode: difference;/* darken;*/
	background-size: 150%;
	background-attachment: fixed;
	background-position: top;

	
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 13rem;
	
	padding: 6rem;

	align-content: center;
	justify-items: center;

	@media only screen and (max-width: $bp-large) {
		grid-template-rows: repeat(3, min-content);
		grid-template-columns: repeat(3, 1fr);	
		grid-gap: 6rem;
	}
	
	&__logo {
		grid-column: 1 / -1;
		grid-row: 1 / 2;

		width: 6.5rem;
		height: 6.5rem;
		transform: rotate(-90deg);
		fill: currentColor;

		@media only screen and (max-width: $bp-large) {
			width: 5rem;
			height: 5rem;
		}

		@media only screen and (max-width: $bp-small) {
			width: 4rem;
			height: 4rem;
		}
	}
	
	&__link {
		grid-column: 1 / 2;
		grid-row: 2 / 3;

		text-decoration: none;
		color: $color-tertiary;
		
		justify-self: start;

		@media only screen and (max-width: $bp-large) {
				grid-column: 2 / 3;
				grid-row: 2 / 3;
				justify-self: center;
		}

		&--item {
			width: 4rem;
			height: 4rem;

			transition: all .2s;
			margin:0;

			fill: $color-tertiary;

			&:hover {
				transform: scale(1.2);
				fill: $color-primary-light;
			}

			@media only screen and (max-width: $bp-smallest) {
				width: 3rem;
				height: 3rem;
			}

		}
		
	}

	&__text {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		
		justify-self: end;

		@media only screen and (max-width: $bp-large) {
				grid-row: 3/ 4;
				grid-column: 1 / -1;
				justify-self: center;
				align-self: end;
		}

		@media only screen and (max-width: $bp-smallest) {
			font-size: 1.4rem;
			text-align: center;
		}
	}
}