.header {
	grid-column: full-start / full-end;

	background-image: linear-gradient(to bottom, rgba($color-black , .8), rgba($color-black , 0)),
	url(../img/bg1.jpg);
	background-size: cover;
	height: 100vh;

	padding: 3rem 4rem 0 4rem;
	
	display: grid;
	grid-template-columns: 1fr 2fr max-content;
	grid-template-rows: 1fr 2fr 1fr;

	backface-visibility: hidden;

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: 1fr;
		/*grid-template-rows: 1fr 2fr;*/
		grid-template-rows: 1fr 1fr 1fr;

	}

	&__logo {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		
		align-self: start;
	
		fill: $color-secondary;
		width: 3.3rem;
		height: 3.3rem;
		transform: translateX(1rem) rotate(-90deg);
		animation: hiddenMove 2.2s ease-in;

		@media only screen and (max-width: $bp-small) {
			grid-row: 1/2;
			justify-self: start;
			align-self: start;

		}

	}

	&__name {
		grid-column: 3 / 4;
		grid-row: 1 / 2;

		animation: hiddenMove 2.2s ease-in;

		@media only screen and (max-width: $bp-small) {
			grid-row:3/4;
			grid-column: 1 / -1;
			align-self: center;
			justify-self: start;
		}
	}

	&__title {
		grid-column: 1 / 2;
		grid-row: 2 / 3;

		&--main {
			display: block;
			animation: moveInBottom 2.3s ease-out;	
		}	

		&--sub {
			display: block;
			animation: moveInBottom 3s ease-out;
		}

		@media only screen and (max-width: $bp-medium) {
			grid-column: 1 / 3;
		}

		@media only screen and (max-width: $bp-small) {
			align-self: start;
			grid-row: 2/3;
		}


	}
}