@keyframes moveInBottom {
	0% {
		opacity: 0;
	}

	50% {
		transform: translateY(-10rem); 
	}
	80% {
		opacity: 0.5;
		transform: translateY(2rem); 
	}

	90% {
		opacity: 0.8;
		
	}

	100% {
		opacity: 1;
		transform: translateY(0); 
	} 
}

@keyframes hiddenMove { 
	0% {
		opacity: 0; 
	}

	100% {
		opacity: 1; 
	} 
}

@keyframes rotateMove {
	0% {
		transform: rotate(-12deg);
	}

	50% {
		transform :rotate(12deg);
	}

	100% {
		transform :rotate(-12deg);
	}
}

@keyframes pulsate {
	0% {
		transform: scale(1);
		box-shadow: none;
	}

	50% {
		transform :scale(1.05);
		box-shadow: 0 1rem 4rem rgba(0,0,0, .35);
		color: $color-primary;
	}

	100% {
		transform: scale(1);
		box-shadow: none;
	}
}

.reveal {
	opacity: 0;
	transform: translateY(-3rem);
}

.reveal-visible {
	opacity: 1;
	transform: translateY(0);
	transition: 2s cubic-bezier(.5, 0, 0, 1);
	transition-duration: 1s;
	backface-visibility:hidden;
}

