*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	/*@media only screen and (max-width: $bp-large) {
		font-size:50%;
	}*/
}

body {
	font-family: $font-display;
	color: $color-primary-light;
	background-color: $color-secondary ;
}














