%heading-small {
	font-family: $font-display;
	font-weight: 400;
	color: $color-primary;
}

%heading-big {
	font-family: $font-primary;	
}

.heading-1 {
	@extend %heading-big;
	color:$color-primary-light;
	font-size: 8vw;
	font-weight: 100;

	@media only screen and (max-width: $bp-large) {
		font-size: 10vw;
	}

	@media only screen and (max-width: $bp-medium) {
		font-size: 11vw;
	}

}

.heading-2 {
	@extend %heading-big;
	color:$color-primary;
	font-size: 3rem;
	font-weight: 200;

	@media only screen and (max-width: $bp-medium) {
		font-size: 2.4rem;
	}
}

.heading-3 {
	@extend %heading-small;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: .8rem;

}

.heading-4 {
	@extend %heading-small;
	font-size: 2rem;
	text-transform: capitalize;
}

.heading-5 {
	@extend %heading-small;
	font-size: 1.9rem;
	letter-spacing: .8rem;
	color: $color-primary-light;
}

.paragraph {
	font-size: 1.6rem;
	text-align: justify;
}

.list{
	font-size: 1.6rem;
	color: currentColor;
}

.btn {
	font-family: $font-display;
	font-size: 1.6rem;
	padding: 2rem 3rem;
	text-transform: uppercase;
	background-color: $color-secondary;
	color: $color-primary-light;
	border: none;
	border-radius: .4rem;
	
	cursor: pointer;
	animation: pulsate 1s infinite;

	transition: all .3s ease-in;

	&:hover {
		color: $color-tertiary;
		background-image: linear-gradient(to left top, $color-secondary, $color-secondary-dark);
	}

	@media only screen and (max-width: $bp-small) {
			font-size: 1.4rem;
	}
	@media only screen and (max-width: $bp-smallest) {
			font-size: 1.2rem;
	}	
}


/*.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }*/

























