.container {
	display: grid;
	/*grid-template-rows: 100vh min-content 40vw repeat(3, min-content) ;*/
	grid-template-columns: [full-start] 1fr [center-start] 5fr [center-end] 1fr [full-end];
	}

.section-presentation {
	grid-column: full-start / full-end;

	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

	justify-items: center;
	align-items: center;

	position: relative;

	margin:4rem 0;

	@media only screen and (max-width: $bp-large) {
		grid-template-columns: auto-fit;
		grid-template-rows: 1fr 1fr;

	}

	@media only screen and (max-width: $bp-small) {
			grid-template-rows: 1fr 0.5fr;
		}

	&__text {
		margin: 6rem;
		padding: 5rem;
		z-index: 10;
		
		border-radius: .3rem;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);

		&--h2 {
			padding-bottom: 3rem;
		}

		@media only screen and (max-width: $bp-large) {
			grid-row: 1/2;
		}

		@media only screen and (max-width: $bp-medium) {
			margin: 4.5rem;
			padding: 4rem;
		}

		@media only screen and (max-width: $bp-small) {
			margin: 3rem;
			padding: 3rem;
		}

		@media only screen and (max-width: $bp-smallest) {
			margin: 0.7rem;
			padding: 2rem;
		}
	}

	
	&__logo {

		justify-items:center;
		align-items: center;

		fill: $color-secondary-dark;
		opacity: .6;
		width: 20rem;
		height: 20rem;
		animation: rotateMove 2s infinite;

		@media only screen and (max-width: $bp-large) {
			grid-row: 2/3;
		}

		@media only screen and (max-width: $bp-medium) {
			width: 15rem;
			height: 15rem;
		}

		@media only screen and (max-width: $bp-small) {
			width: 12rem;
			height: 12rem;
		}

		@media only screen and (max-width: $bp-smallest) {
			width: 10rem;
			height: 10rem;
		}
	}

	&::before {
		content:"\201C";
		position: absolute;
		top: -2rem;
		left: 2.5rem;
		line-height: 1;
		font-size: 40rem;
		color: $color-secondary-dark;
		opacity: .4;
		font-family: sans-serif;
		z-index: 1;
	}

}

.section-skills {
	grid-column: full-start / full-end;
	
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-template-rows: repeat(3, min-content);
	grid-column-gap: 7rem;

	justify-items: center;

	padding:0 5rem;

	@media only screen and (max-width: $bp-large) {
		grid-template-rows: repeat(5, min-content);
		grid-template-columns: 0.3fr 1fr 0.3fr;
		grid-row-gap: 7rem;
		grid-column-gap: 5rem;
	}

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: 1fr;
		padding:0 3rem;
		grid-column-gap: 3rem;
	}

	@media only screen and (max-width: $bp-small) {
		padding:0 2rem;
		grid-column-gap: 2rem;
	}

	@media only screen and (max-width: $bp-smallest) {
		padding:0 1rem;
		grid-column-gap: 1rem;
	}
	&__heading {
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		
		padding: 9rem;

		@media only screen and (max-width: $bp-large) {
			padding: 0;
		}
	}
	
	&__box {
		grid-row: 2 / 3;
		background-image: linear-gradient(to bottom, rgba($color-secondary-dark , .9), rgba($color-tertiary , .5)), url(../img/bg1.jpg);
		background-size: 700%;
		box-shadow: 0 2rem 4rem rgba($color-black, .3);
		overflow: hidden;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: .3rem;
		border-bottom-right-radius: .3rem;

		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content;
		grid-gap: 3rem;

		justify-items: center;
		&--1 {
			@media only screen and (max-width: $bp-large) {
				grid-row: 2 / 3;
				grid-column: 2 / 3;
			}
		}

		&--2 {
			background-position: top;

			@media only screen and (max-width: $bp-large) {
				grid-row: 3 / 4;
				grid-column: 2 / 3;
			}	
		}

		&--3 {
			background-position: 20% 50%;
			
			@media only screen and (max-width: $bp-large) {
				grid-row: 4 / 5;
				grid-column: 2 / 3;
			}
		}

		&--picture {
			background-image:linear-gradient(to bottom, rgba($color-black , .4), rgba($color-black , .6)), url(../img/bg1.jpg);
			background-size:cover;
			
			width: 100%;
			
			display:grid;
			justify-content: center;
			align-content: center;

			&-top {
				height: 8rem;
				border-top-left-radius: 1rem;
				border-top-right-radius: 1rem;
			}

			&-bottom {
				height: 12rem;
				border-bottom-left-radius: .3rem;
				border-bottom-right-radius: .3rem;
				align-self: end;
			}
		}	
	}

	&__icon {
		width: 4.5rem;
		height: 4.5rem;
		fill: $color-primary;
	}

	&__text {
		padding: 0 1.5rem;		
	}

	/* STYLE RESPONSIVE WEB DESIGN */

	&__sub {
		grid-row: 3 / 4;
		grid-column: 1 / 4;

		text-align: center;
		margin: 7rem 0;

		@media only screen and (max-width: $bp-large) {
			grid-row: 5 / 6;
		}	

		h5 {
			padding-bottom: 4rem;
		}
		
		&--icon {
			
			fill: $color-secondary-dark;

			&-1 {
				width: 5rem;
				height: 5rem;

				@media only screen and (max-width: $bp-medium) {
					width: 4rem;
					height: 4rem;
				}	

				@media only screen and (max-width: $bp-small) {
					width: 2.7rem;
					height: 2.7rem;
				}

				@media only screen and (max-width: $bp-smallest) {
					width: 4rem;
					height: 4rem;
				}
			}

			&-2 {
				width: 12rem;
				height: 12rem;
				transform: rotate(90deg) translateX(1.8rem);

				@media only screen and (max-width: $bp-medium) {
					width: 10rem;
					height: 10rem;
				}

				@media only screen and (max-width: $bp-small) {
					width: 8rem;
					height: 8rem;
				}	

				@media only screen and (max-width: $bp-smallest) {
					display: none;
				}
			}

			&-3 {
				width: 15rem;
				height: 15rem;

				@media only screen and (max-width: $bp-medium) {
					width: 12rem;
					height: 12rem;
				}

				@media only screen and (max-width: $bp-small) {
					width: 10rem;
					height: 10rem;
				}	
			}

			&-4 {
				width: 10rem;
				height: 10rem;

				@media only screen and (max-width: $bp-medium) {
					width: 8rem;
					height: 8rem;
				}

				@media only screen and (max-width: $bp-small) {
					width: 6rem;
					height: 6rem;
				}
			}

			&-5 {
				width: 7rem;
				height: 7rem;

				@media only screen and (max-width: $bp-medium) {
					width: 6rem;
					height: 6rem;
				}	

				@media only screen and (max-width: $bp-small) {
					width: 5rem;
					height: 5rem;
				}

				@media only screen and (max-width: $bp-smallest) {
					display: none;
				}
			}
		}		
	}
}

.section-projects {
	grid-column: center-start / center-end;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); 
	grid-template-rows: repeat(3, min-content);
	grid-gap: 5rem;

	padding-bottom: 5rem;

	align-items: start;
	justify-items: center;

	&__heading {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		padding: 5rem;
	}

	&__card {
		background-color:$color-secondary;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);

		display:grid;
		grid-template-columns: 1fr;
		grid-template-rows: 22rem max-content min-content min-content;
		grid-row-gap: 1rem;

		min-height: 40rem;
		min-width: 17rem;

		&-picture {
			background-size: cover;
			
			height: 30rem;
			
			-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 70%, 1% 50%);
			clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 70%, 1% 50%);
			
			border-top-left-radius: .4rem;
			border-top-right-radius: .4rem;
			transition: all .4s ease;
			backface-visibility: hidden;
			background-blend-mode: soft-light;

			&--1{
					background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-dark),
            url(../img/project1.jpg);
			background-position:center;
			}
			&--2{
				background-image: linear-gradient(to right bottom, $color-secondary, $color-secondary-dark),
            url(../img/project2.jpg);
            background-size: cover;
			background-position: 10% 35%;;
				
			}
			&--3{
				background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-dark),
            url(../img/project3.jpg);
            background-position: 20% 25%;;
			}
			&--4{
				background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-dark),
            url(../img/project4.jpg);
            background-position:top;
			}
			&--5{
				background-image: linear-gradient(to right bottom, $color-secondary, $color-secondary-dark),
            url(../img/project5.jpg);
            background-position:top;
            
			}
			&--6{
				background-image: linear-gradient(to bottom, $color-secondary, $color-secondary-dark),
            url(../img/project6.jpg);
            	background-position: right;		
			}
		}

		&-title {
			
			justify-self: center;

			backface-visibility: hidden;
			transition: all .5s ease;
		}

		&-ul {
			justify-self: center;
			align-self: end;
			
			font-size: 1.2rem;
			transition: all 1s ease;
			cursor:pointer;
		}

		&-text {
			padding: 2rem;
			align-self: end;
		}

		&:hover &-picture {
			filter:blur(.3rem) brightness(20%);
			-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 90%, 0 70%);
			clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 90%, 0 70%);
		}
		
		&:hover &-title {
			color:$color-tertiary-dark;
			transform: translateY(-18rem) scale(1.2);
			letter-spacing: .5rem;
		}

		&:hover &-ul {
			color:$color-tertiary;
			list-style: none;
			text-transform: uppercase;
			transform: translateY(-14rem) scale(1.4);		
			
		}
		
	}
}	

.section-bridge {
	grid-column: full-start / full-end;

	min-height: 40vh;

	background-image: linear-gradient(to right bottom,$color-tertiary, $color-secondary), url(../img/bg1.jpg);
	background-size: cover;
	background-blend-mode: darken;
	background-attachment: fixed;
	background-position: center;

	display: grid;

	justify-items: center;
	align-items: center;

	&__picture {
		
		img {
			width: 12rem;
		}		
	}
}

.section-cta {
	grid-column: center-start/center-end;

	height: 40vh;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	align-items:center;

	@media only screen and (max-width: $bp-medium) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: 55vh;
	}

	&__heading {
		grid-row: 1 / 2;
		grid-column: 1 / -1;

		@media only screen and (max-width: $bp-medium) {
			font-size: 2.2rem;
		}

		@media only screen and (max-width: $bp-small) {
			font-size: 1.9rem;
		}

		@media only screen and (max-width: $bp-smallest) {
			font-size: 1.8rem;
		}

	}

	&__btn {
		grid-row: 2 / 3;

		@media only screen and (max-width: $bp-medium) {
				grid-column: 1 / -1;
			}
		
		&-1 {
			grid-column: 1 / 2;

			@media only screen and (max-width: $bp-medium) {
				grid-row: 2/3;
			}
			}
		
		&-2 {
			grid-column: 2 / 3;

			@media only screen and (max-width: $bp-medium) {
				grid-row: 3/4;
			}
		}

	}

}











